.Container {
  width: 300px;
  height: 700px;
  border-top: 2px solid black;
  position: fixed;
  margin: 54px 15px;
  display: flex;
  padding: 15px;
}

.myInput {
  width: 50px;
  margin: 10px;
  padding: 5px;
  outline: none;
  font-size: 13px;
}

.search {
  cursor: pointer;
  height: 15px;
  width: 25px;
}
